.encabezadoSeachAsientos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 450px) {
  .encabezadoSeachAsientos {
    flex-direction: column;
    align-items: stretch;
  }

  .button-encabezadoSeachAsientos {
    margin-bottom: 1rem;
  }
}

.btn-menu-tabla{
  display: inline-block;
  color: #21252900;
  cursor: pointer;
  background-color: transparent;
  width: 5px;
}
