.App {
  text-align: center;
  background-color: var(--background-color-App);
  background-image: var(--background-image-app);
  background-size: 100% auto; /* Ancho al 100% y altura automática */
  background-repeat: repeat-y; /* Repetir verticalmente */
  min-height: 100vh; /* Mínimo de altura para cubrir la pantalla */
  /* background-position: center*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h3_title{
  font-family: var(--fontFamily-drawer);
  font-size: calc(var(--fontSize-drawer) + 2px);
  font-weight: bold;
  display: flex;
 }

 .inputText{
  font-family: var(--fontFamily-drawer);
  font-size: calc(var(--fontSize-drawer) - 2px);
  font-weight: var(--fontWeight-drawer); 
 }


