.btn-menu{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 19px;
  margin-left: 2rem;
}
.btn-menu:hover{
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  opacity: 0.5;
}