.abrirMenuDrawer{
  color: var(--color-drawer); 
}

.abrirMenuDrawer:hover{
  opacity: 0.5;
}

.abrirNavBar{
  color: var(--color-drawer); 
  margin-left: -10px;
}

.abrirNavBar:hover{
  opacity: 0.5;
}